<div class="page-header">
    <h1 class="text-center">Conversor de</h1>
    <p class="text-center">
			<a class="btn btn-lg"
				style="background-color: #F5922F; color: #FFFFFF" 
				routerLink="/" 
				routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        	BTC
      </a>
			|
			<a class="btn btn-lg" 
				style="background-color: #677175; color: #FFFFFF" 
				routerLink="/eth" 
				routerLinkActive="active">
        	ETH
      </a>
    </p>
</div>
<router-outlet></router-outlet>